extends layout

block main
  div.nav
    div.mybtn
      a(href="/tests")
        button.btn.btn-lg.button(type='button') Take the test
      a(href="/create-setings")
        button.btn.btn-lg.btn-secondary.button(type='button') Create test
